@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

:root {
  --white: #ffffff;
  --tan-1: #ffffff;
  --tan-2: #f8c796;
  --tan-3: #f8c796;
  --tan-4: rgb(255, 217, 187);
  --orange: #f6a800;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.link {
  color: white;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn.uc.assets.prezly.com/e7421375-4420-4c8e-9e49-78e3c0a990ae/-/resize/1108x/-/quality/best/-/format/auto/");
  background-size: auto;
  padding: 2vmin;
  height: 100vh;
  position: relative;
}


span{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(2, 2, 2);
  text-shadow: 
						8px 8px #ff791f,
						20px 20px #000000;
}











.aboutMeInput {
  margin-left: 30%;
  width: 50px;
  height: 300px;
  width: 500px;
  padding: 5px;
}

.AddForm {
  background-color: black;
  opacity: 0.8;
  color: white;
}

.dreamersPage {
  flex-grow: 4; 
  align-content: space-between;
  background-color: black; opacity: 0.81;
  color: white;
  margin-right: 40%;
  margin-left: 40%;
  padding: 3px;

}

daca-img {
  /* margin-left: 800px; */
  float: right;
  width: 35%;
  opacity: .87;
}

.aboutUs-Daca {
  text-align: center;
  margin: 0 auto;
  width: 63%;
  background-color: rgb(247, 122, 38); opacity: 0.91;
  color: white;
  font-weight: 880;
  text-shadow: -1px 0 rgb(10, 10, 9), 0 1px rgb(10, 10, 9);
}

.dreamersStoryPage {
  text-align: center;
  margin: 0 auto;
  width: 63%;
  background-color: rgb(0, 0, 0); opacity: 0.85;
  color: white;
  
  font-weight: 880;
  text-shadow: -1px 0 rgb(10, 10, 9), 0 1px rgb(10, 10, 9);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: 0.6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1.3vmin;
  padding: 0.4vmin 0.5vmin;
  color: white;
  text-shadow: -1px 0 rgb(248, 111, 6), 0 1px rgb(248, 111, 6);
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}



@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');



button {
    font-family: "Kalam", sans-serif;
    color: #ffffff;
    text-shadow: -1px 0 rgb(248, 111, 6), 0 1px rgb(248, 111, 6);
    text-decoration: none;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.nav__links {
    color: rgb(248, 111, 6);
}


button {
    padding: 9px 18px;
    background-color: rgb(255, 217, 187);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #ff791f;
    transition: all 0.3s ease 0s;
}




